<!DOCTYPE html>
<html>
<head>
	<title>API list</title>
</head>
<body>
Available Requests to Server
<ul>
	<li>GET /</li>
	<li>GET /api</li>
	<li>GET /api/admin</li>
	<li>GET /api/broadcast</li>
	<li>GET /api/admin/:email</li>
	<li>GET /api/broadcast/:id</li>
	<li>POST /api/addadmin</li>
	<li>POST /api/addbroadcast</li>
	<li>PUT /api/admin/:email</li>
	<li>PUT /api/broadcast/:id</li>
	<li>PUT /api/onair/:status/:id</li>
	<li>DELETE /api/admin/:email</li>
	<li>DELETE /api/broadcast/:id</li>
</ul>
</body>
</html>
